################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Net_Coding/DesignPatterns/obj
/Net_Coding/SOLID-Principles/obj
